.time {
    float: right; 
}

button {
    background-color:lavender;
    border: none;
    font-size: medium;
}
.card {
    background-color: lemonchiffon;
}
.card {
    margin-top: 20 rem;
    margin-left: 2 rem;
}