.time {
    float: right; 
}

button {
    background-color:lavender;
    border: none;
    font-size: medium;
}
.card {
    background-color: lemonchiffon;
}
.card {
    margin-top: 20 rem;
    margin-left: 2 rem;
}

.card{
    word-wrap: break-word;
  }

.readybtn {
    margin-left: 2rem;
    font-size: 20px;
}
#ready {
    text-align: center;
    margin-left: 350px;margin-right:350px; 
}
